.army-parent{
    display: flex;
    justify-content: center;
}

.content-box{
    font-family: 'Fredoka One', cursive;
    color: rgba(255,255,255,.7);
}

.soldier{
    justify-content: center;
}

#soldier-1{
    height: 25rem;
}

#soldier-2{
    height: 25rem;
}

#soldier-3{
    height: 25rem;
}
