.army-parent{
    display: flex;
    justify-content: center;
}

.soldier{
    justify-content: center;
}

#soldier-1{
    height: 25rem;
}

#soldier-2{
    height: 25rem;
}

#soldier-3{
    height: 25rem;
}
