@import "./_variables.scss";

html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

.flex-parent{
    height: 70vh;
    margin: 10px;
    display: flex;
    background-color: color(primary);
}

#flex-grow{
    flex-grow: 1;
    font-size: 1.3rem;
}
#flex-grow-2{
    flex-grow: 2;
}